.wrap{
    display: flex;
    column-gap: 5px;
    row-gap: 5px;
    flex-wrap: wrap;
    margin: 5px;
}
.userInfo{
    display: flex;
    border: 2px solid maroon;
    flex-wrap: wrap;
    background: #c4dcc4;
    border-radius: 15px;
    padding: 10px;
}
/*.addressElement{*/
.addressUser{
    display: flex;
    row-gap: 5px;
    column-gap: 5px;
    flex-direction: column;
    flex-wrap: nowrap;
    border-top: 2px solid darkgreen;
}
.idUser,
.nameUser,
.usernameUser,
.emailUser,
.phoneUser,
.websiteUser,
.addressUser, .cityUser, .suiteUser, .zipcodeUser,
.companyUser,.bsUser,.catchPhraseUser,.companyUser{
    width: 80%;
    /*border-bottom: 2px solid darkgreen;*/

}
.geoUser{
    width: 100%;
    border-top: 2px solid darkgreen;
    border-bottom: 2px solid darkgreen;
}
.latUser,.lngUser{
    width: 100%;
}
.companyUser{
    border-top: 2px solid darkgreen;
}
.bsUser,.catchPhraseUser,.nameUser,.cityUser,
.streetUser,.suiteUser,.zipcodeUser,.latUser,.lngUser {
    padding-left: 20px;
}